/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        et: esc_term {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC / Term (`)";
            bindings = <&kp ESCAPE>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_LCTL)>;
            keep-mods = <(MOD_LCTL|MOD_LGUI)>;
        };

        flt: fast_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Fast Layer/Tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
        };

        sc: shift_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "SC";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT>, <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------------------------------
            // | ESC/` |   1   |   2   |   3   |   4   |   5   |                  |   6   |   7   |   8   |   9   |   0   |   =   |
            // |  TAB  |   Q   |   W   |   E   |   R   |   T   |                  |   Y   |   U   |   I   |   O   |   P   |   -   |
            // | CTRL  |   A   |   S   |   D   |   F   |   G   |                  |   H   |   J   |   K   |   L   |   ;   |   '   |
            // | SFT/CW|   Z   |   X   |   C   |   V   |   B   | C(UP) |  | C(DN) |   N   |   M   |   ,   |   .   |   /   | SFT/CW|
            //                         | GLOBE |  ALT  |  GUI  |SYM/ENT|  |NAV/SPC| BSPC  | RALT  | UTIL  |

            display-name = "BASE";
            bindings = <
&et        &kp N1  &kp N2  &kp N3     &kp N4    &kp N5                                      &kp N6    &kp N7    &kp N8     &kp N9   &kp N0    &kp EQUAL
&kp TAB    &kp Q   &kp W   &kp E      &kp R     &kp T                                       &kp Y     &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D      &kp F     &kp G                                       &kp H     &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&sc        &kp Z   &kp X   &kp C      &kp V     &kp B     &kp LC(UP_ARROW)    &kp LC(DOWN)  &kp N     &kp M     &kp COMMA  &kp DOT  &kp FSLH  &sc
                           &kp GLOBE  &kp LALT  &kp LGUI  &flt 1 ENTER        &flt 2 SPACE  &kp BSPC  &kp RALT  &mo 3
            >;
        };

        sym_layer {
            // -----------------------------------------------------------------------------------------------------------------
            // |   `   |  F1   |  F2   |  F3   |  F4   |  F5   |                  |  F6   |  F7   |  F8   |  F9   |  F10  | BRI+  |
            // |       |   '   |   "   |   ^   |   \   |   ~   |                  |   [   |   <   |   =   |   >   |   ]   | BRI-  |
            // |       |   !   |   @   |   #   |   $   |   %   |                  |   {   |   (   |   :   |   )   |   }   |       |
            // |       |       |       | G(C)  | G(V)  |       |       |  |       |   |   |   &   |   _   |   *   |   +   |       |
            //                         |       |       |       |       |  |       |  DEL  |       |       |

            // F15/F14 are macOS display brightness up/down

            display-name = "SYM";
            bindings = <
&kp GRAVE  &kp F1           &kp F2             &kp F3     &kp F4         &kp F5                         &kp F6            &kp F7                &kp F8          &kp F9        &kp F10            &kp F15
&trans     &kp SQT          &kp DOUBLE_QUOTES  &kp CARET  &kp BACKSLASH  &kp TILDE                      &kp LEFT_BRACKET  &kp LESS_THAN         &kp EQUAL       &kp GT        &kp RIGHT_BRACKET  &kp F14
&trans     &kp EXCLAMATION  &kp AT_SIGN        &kp HASH   &kp DOLLAR     &kp PERCENT                    &kp LEFT_BRACE    &kp LEFT_PARENTHESIS  &kp COLON       &kp RPAR      &kp RIGHT_BRACE    &trans
&trans     &trans           &trans             &kp LG(C)  &kp LG(V)      &trans       &trans    &trans  &kp PIPE          &kp AMPERSAND         &kp UNDERSCORE  &kp ASTERISK  &kp PLUS           &trans
                                               &trans     &trans         &trans       &trans    &trans  &kp DELETE        &trans                &trans
            >;
        };

        nav_layer {
            // -----------------------------------------------------------------------------------------------------------------
            // |       |       |       |       |       |       |                  |       |       |       |       |       |       |
            // |       |       |       |  UP   |       |       |                  | HOME  | PGDN  | PGUP  |  END  |       |       |
            // |       |       | LEFT  | DOWN  | RIGHT |       |                  | LEFT  | DOWN  |  UP   | RIGHT |       |       |
            // |       |       |       | G(C)  | G(V)  |       |       |  |       |       |       |       |       |       |       |
            //                         |       |       |       |       |  |       |       |       |       |

            display-name = "NAV";
            bindings = <
&trans  &trans  &trans    &trans     &trans      &trans                       &trans    &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans    &kp UP     &trans      &trans                       &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans  &trans
&trans  &trans  &kp LEFT  &kp DOWN   &kp RIGHT   &trans                       &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans  &trans
&trans  &trans  &trans    &kp LG(C)  &kp LG(V)   &trans     &trans    &trans  &trans    &trans     &trans     &trans     &trans  &trans
                          &trans     &trans      &trans     &trans    &trans  &trans    &trans     &trans
            >;

        };

        util_layer {
            // -----------------------------------------------------------------------------------------------------------------
            // | BTCLR |  BT0  |  BT1  |  BT2  |  BT3  |  BT4  |                  |       |       |       | PREV  | NEXT  | VOL+  |
            // |       |       |       |       | RESET |       |                  |       | RESET |       |OUT TOG| PLAY  | VOL-  |
            // |       |       |       |       |       |       |                  |       |       |       |       |       |       |
            // |       |       |       |       |       | BOOT  |       |  |       | BOOT  |       |       |       |       |       |
            //                         |       |       |       |       |  |       |       |       |       |

            // BOOT/RESET only act on the half they sit on

            display-name = "UTIL";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                          &trans        &trans       &trans  &kp C_PREV   &kp C_NEXT        &kp C_VOL_UP
&trans      &trans        &trans        &trans        &sys_reset    &trans                                &trans        &sys_reset   &trans  &out OUT_TOG  &kp C_PLAY_PAUSE  &kp C_VOL_DN
&trans      &trans        &trans        &trans        &trans        &trans                                &trans        &trans       &trans  &trans       &trans            &trans
&trans      &trans        &trans        &trans        &trans        &bootloader   &trans    &trans        &bootloader   &trans       &trans  &trans       &trans            &trans
                                        &trans        &trans        &trans        &trans    &trans        &trans        &trans       &trans
            >;
        };
    };
};
